@model Proje4.Models.MusteriBilgileri

@{
    ViewData["Title"] = "Delete";
}

<h3>Bu Müşteriyi Silmek İstediğine Emin Misiniz?</h3>
<div>
    @*<h4>MusteriBilgileri</h4>
    <h3>Are you sure you want to delete this?</h3>*@
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriTc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriTc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Park)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Park.ParkAd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MusteriId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
