@model Proje4.Models.MusteriBilgileri

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Müşteri Bilgileri</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriSoyad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriSoyad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriTc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriTc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MusteriTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MusteriTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Park)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Park.ParkAd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MusteriId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
