@model Proje4.Models.FiyatBilgisi

@{
    ViewData["Title"] = "Delete";
}

<h3>Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musteri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musteri.MusteriAd)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FiyatId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
