@model Proje4.Models.FiyatBilgisi

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Fiyat Bilgisi</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiyat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiyat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Saat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Saat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToplamTutar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToplamTutar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Musteri)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Musteri.MusteriAd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FiyatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
